<section
        id="about"
        class="bg-about-background bg-cover bg-top bg-fixed bg-no-repeat"
>
    <div class="flex flex-col justify-center px-5">
        <div class="flex justify-center">
            <h2 class="z-10 relative inline-block font-geomanist text-center text-white text-6xl uppercase mb-14 mt-24
               header-background gradient-blue sm:text-4xl"
            >
                {{ page.header.section_title }}
            </h2>
        </div>

        <div
                class="flex flex-wrap justify-center gap-12 md:px-4 "
        >
            <h3
                    class="max-w-md font-geomanist text-2xl uppercase text-light-blue text-shadow-dblue"
            >
                {{ page.header.paragraph_bold }}
            </h3>
            <p class="max-w-[401px] font-roboto text-lg text-dark-blue text-shadow-white">
                {{ page.header.paragraph_normal }}
                <span class="block">{{ page.header.paragraph_featured }}</span>
            </p>
        </div>

        <div class="flex justify-center">
            <h2
                    class="relative z-10 mb-14 mt-24 inline-block text-center font-geomanist text-4xl uppercase
                    text-white header-background gradient-blue sm:text-3xl xs:text-2xl"
            >
                {{ page.header.carousel }}
            </h2>
        </div>

        <div class="swiper s1 mb-24 sm:mb-0">
            <div class="swiper-wrapper">
                {% for slide in page.header.slides %}
                    <div class="swiper-slide">
                        <div class="flex md:flex-wrap md:items-center md:justify-center">
                            <div class="relative">
                                {% for photo in slide.photo %}
                                    <img src="{{ page.media[photo.name].url }}">
                                {% endfor %}

                                <button
                                        class="absolute bottom-0 left-1/2 -translate-x-1/2 flex items-center font-geomanist text-lg text-white uppercase pb-7"
                                >
                                    <img
                                            class="inline-block mr-3"
                                            src="{{ url('theme://images/icons/play-button.svg')|e }}"
                                    />
                                    Zobacz video
                                </button>
                            </div>
                            <div
                                    class="bg-white px-8 pt-12 md:w-full md:max-w-[415px] md:pb-12 sm:px-6"
                            >
                                <h3
                                        class="mb-2 font-geomanist text-lg uppercase text-light-blue"
                                >
                                    <span class="block">{{ slide.name }}</span>
                                    {{ slide.surname }}
                                </h3>
                                <p
                                        class="max-w-[220px] font-roboto text-sm text-dark md:max-w-none"
                                >{{ slide.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="flex justify-center gap-20 my-6">
                <button class="button-prev">
                    <img src="{{ url('theme://images/icons/button-prev.svg') }}" alt="Previous slide">
                </button>
                <button class="button-next">
                    <img src="{{ url('theme://images/icons/button-next.svg') }}" alt="Next slide">
                </button>
            </div>
        </div>
    </div>
</section>
