<section
        id="blog"
        class="bg-blog-background bg-cover bg-fixed bg-left bg-no-repeat py-20"
>
    <div class="flex flex-col items-center">
        <h2
                class="max-w-[780px] font-geomanist text-6xl text-white text-center uppercase md:text-4xl sm:text-3xl xs:text-xl"
        >
          <span
                  class="z-10 relative inline-block text-white mb-4 header-background gradient-blue md:pt-3 md:mb-2 sm:pt-2"
          >
            {{ page.header.heading_featured }}</span
          >
            <span class="block">{{ page.header.heading }}</span>
        </h2>

        <p
                class="max-w-xl py-12 px-4 text-center font-roboto text-lg text-white"
        >
            {{ page.header.description }}
        </p>

        <a href="#"
           class="relative z-10 px-3 pt-2 pb-1 font-geomanist text-lg uppercase text-white before:absolute
                before:top-0 before:left-0 before:-z-1 before:h-full before:w-full before:-skew-x-12 gradient-blue"
        >
            {{ page.header.button_text }}
            <img
                    class="ml-3 mb-2 inline-block"
                    src="{{ url('theme://images/icons/button-icon.svg') }}"
            />
        </a>
    </div>
</section>
