<section
        id="home"
        class="min-h-screen flex items-center justify-center bg-home-background bg-no-repeat bg-cover bg-fixed bg-center"
>
    <div class="max-w-lg relative mx-4 mt-24 md:text-center">
        <img
                class="absolute -left-28 w-[88px] md:hidden"
                src="{{ url('theme://images/icons/home-icon.svg') }}"
        />
        <h1 class="font-geomanist text-white uppercase text-7xl xs:text-5xl text-shadow">
            {{ page.header.heading }}
        </h1>
        <p class="border-b-2 border-dotted font-roboto leading-tight text-white py-10 md:text-sm text-shadow">
            {{ page.header.description }}
        </p>

        <div>
            <p class="font-roboto text-white uppercase text-xs mt-7 mb-6 text-shadow">
                We współpracy z
            </p>
            <img
                    class="mb-4 md:mx-auto"
                    src="{{ url('theme://images/partner.svg') }}"
                    alt="National Geographic Polska"
            />
        </div>
    </div>
</section>
