<section id="join_us" class="py-14">
    <div class="flex justify-center">
        <h2
                class="relative inline-block font-geomanist text-6xl text-white text-center uppercase mb-14
             header-background gradient-blue md:text-5xl sm:text-3xl xs:text-2xl"
        >
            {{ page.title }}
        </h2>
    </div>

    <div class="flex flex-wrap justify-center gap-24 px-3 md:gap-16">
        <div class="bg-white shadow-2xl">

            {% for photo in page.header.card_image %}
                <img class="w-full" src="{{ page.media[photo.name].url }}">
            {% endfor %}

            <div class="px-7 pb-7 pt-3">
                <h3 class="font-geomanist text-2xl text-light-blue uppercase">
                    {{ page.header.card_name }}
                </h3>
                <h4 class="font-roboto text-dark-blue font-bold uppercase pb-1">
                    {{ page.header.card_type }}
                </h4>

                <p class="max-w-sm font-roboto text-sm font-normal text-dark-blue">
                    {{ page.header.card_description|raw }}
                </p>
            </div>
        </div>

        <div class="my-auto">
            <p
                    class="max-w-sm font-geomanist text-2xl text-light-blue uppercase mb-12 xs:text-xl"
            >
                {{ page.header.description }}
            </p>
            <button
                    class="relative font-geomanist text-lg text-white uppercase px-3 pt-2 pb-1 before:absolute
                    before:top-0 before:left-0 before:-z-1 before:h-full before:w-full before:-skew-x-10 gradient-blue"
            >
                {{ page.header.button_text }}
                <img
                        class="inline-block ml-3 mb-2"
                        src="{{ url('theme://images/icons/button-arrow.svg')|e }}"
                />
            </button>
        </div>
    </div>
</section>
