<section
        id="products"
        class="flex flex-col bg-products-background bg-cover bg-fixed bg-top bg-no-repeat pt-24"
>
    <div class="flex justify-center">
        <h2 class="z-10 relative inline-block font-geomanist text-6xl text-center text-light-blue uppercase
             header-background gradient-white md:text-5xl sm:text-3xl xs:text-2xl"
        >
            {{ page.header.section_title }}
        </h2>
    </div>
    <h3 class="font-roboto text-lg text-white text-center mt-7">
        {{ page.header.section_subtitle }}
    </h3>

    <div class="swiper s2 mt-20 mb-20 md:mb-10">
        <div
                class="absolute top-[20%] left-1/2 w-[80vw] -translate-x-1/2 -translate-y-1/2 border-t-2 border-dotted xl:w-[70vw] md:hidden"
        ></div>

        <div class="swiper-wrapper">
            {% for slide in page.header.slides %}
                <div class="swiper-slide">
                    <div class="flex flex-col items-center">
                        {% for photo in slide.photo %}
                            <img class="h-fit" src="{{ page.media[photo.name].url }}"/>
                        {% endfor %}
                        <div class="flex flex-col px-4 opacity-0 md:max-w-sm">
                            <h3
                                    class="font-geomanist text-2xl text-white uppercase mt-12 mb-3"
                            >
                                <span class="block">{{ slide.type }}</span>
                                {{ slide.name }}
                            </h3>
                            <p class="font-roboto text-white mb-7">
                                {{ slide.description }}
                            </p>
                            <a href="{{ page.header.url }}"
                               class="relative font-geomanist text-lg text-light-blue uppercase mx-auto px-3
                                    pt-2 pb-1 before:absolute before:top-0 before:left-0 before:-z-1 before:h-full
                                    before:w-full before:-skew-x-12 gradient-white"
                            >
                                {{ slide.button_text }}
                                <svg class="inline-block ml-3 mb-2" xmlns="http://www.w3.org/2000/svg" width="9.346"
                                     height="15.001" viewBox="0 0 9.346 15.001">
                                    <path data-name="Rectangle 18 copy 4"
                                          d="m0 15 5.891-7.7L1.167 0h3l4.531 7h.469l-.254.332.432.668h-.943l-5.355 7Z"
                                          fill="#0F8BCB"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div
                class="absolute top-[20%] left-1/2 z-10 flex -translate-x-1/2 -translate-y-1/2 gap-[330px] xs:gap-52"
        >
            <button class="button-prev">
                <img class="w-14 h-14 sm:w-9 sm:h-9 max-w-none" src="{{ url('theme://images/icons/button-prev.svg') }}"
                     alt="Previous slide">
            </button>
            <button class="button-next">
                <img class="w-14 h-14 sm:w-9 sm:h-9 max-w-none" src="{{ url('theme://images/icons/button-next.svg') }}"
                     alt="Next slide">
            </button>
        </div>
    </div>
</section>  
