<section
        id="routes"
        class="flex flex-col items-center bg-routes-background bg-cover bg-fixed bg-center bg-no-repeat pt-16"
>
    <div class="z-10 flex justify-center">
        <h2
                class="relative inline-block font-geomanist text-6xl text-white text-center uppercase mb-14 px-5 pt-3
            header-background gradient-blue md:text-5xl xs:text-5xl"
        >
            {{ page.header.section_title }}
        </h2>
    </div>

    <div
            class="relative inline-block my-20 md:flex md:flex-col md:my-4"
            x-data="{ route: 1 }"
    >
        <div
                class="z-1 absolute p-3 top-0 right-0 box-border flex items-start justify-center md:static gap-8 md:mb-10"
        >
            <button x-on:click="route=1">
                <img :class="route===1? 'border-white' : 'border-transparent '"
                     class="lg:w-28 border-4 rounded-full"
                     src="{{ url('theme://images/routes/route_hero-1.png') }}"/>
                <p :class="route===1?'text-white':'text-dark'" class="font-geomanist text-base uppercase mt-4
                ">Trasa
                    1</p>
            </button>
            <button x-on:click="route=2">
                <img :class="route===2? 'border-white' : 'border-transparent'"
                     class="lg:w-28 border-4 rounded-full" src="{{ url
                    ('theme://images/routes/route_hero-2.png') }}"/>
                <p :class="route===2?'text-white':'text-dark'"
                   class="font-geomanist text-base uppercase mt-4">Trasa 2</p>
            </button>
        </div>

        <div class="relative md:mx-4 md:mb-10">
            <img src="{{ url('theme://images/routes/map.png') }}"/>
            <img
                    :class="route===1? 'animate-bounce-short' : 'hidden'"
                    class="absolute top-0 left-0"
                    src="{{ url('theme://images/routes/route-1.png') }}"
            />
            <img
                    :class="route===2 ? 'animate-bounce-short' : 'hidden' "
                    class="absolute top-0 left-0"
                    src="{{ url('theme://images/routes/route-2.png') }}"
            />
            <img
                    class="absolute right-7 bottom-7 lg:right-5 lg:bottom-5 lg:w-24 md:hidden"
                    src="{{ url('theme://images/icons/routes-icon.svg') }}"
            />
        </div>

        <div
                class="absolute bottom-0 flex gap-5 m-2 lg:bottom-0 lg:left-0 md:static md:justify-center md:text-center"
        >
            <img class="lg:hidden" src="{{ url('theme://images/routes/preview.png') }}"/>
            <div>
                <h2
                        class="max-w-[150px] font-geomanist text-4xl text-white uppercase mb-3 md:max-w-none md:text-3xl"
                >
                    Śladami słowackich nosiczy
                </h2>
                <h3 class="font-roboto text-white">
                    Przez przełęcze Rochatka i Polski Grzebień
                </h3>
            </div>
        </div>
    </div>
</section>
