@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-BlackItalic.woff2') format('woff2'),
    url('../fonts/Geomanist-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@layer utilities {
    .text-shadow {
        text-shadow: 0px 0px 4px black;
    }

    .text-shadow-dblue {
        text-shadow: 1px 1px 1px #084D75;
    }

    .text-shadow-white {
        text-shadow: 0 0 10px white;
    }

}

.header-background {
    @apply before:absolute before:top-0 before:left-0 before:-z-1 before:h-full before:w-full before:-skew-x-12 pl-3 pr-5 py-1;
}

.gradient-blue {
    @apply before:bg-gradient-to-r before:from-[rgba(15,139,203,1)] before:to-[rgba(15,139,203,0.65)];
}

.gradient-white {
    @apply before:bg-gradient-to-r before:from-[rgba(255,255,255,1)] before:to-[rgba(255,255,254,0.65)];
}

.swiper {
    @apply h-fit w-full;
}

.swiper-slide {
    @apply flex justify-center;
}

/*! purgecss start ignore */
.swiper-slide.swiper-slide-active div {
    @apply opacity-100 transition-opacity duration-300;
}

.s2 .swiper-slide img {
    @apply scale-75 xs:scale-50;
}

.s2 .swiper-slide-active img {
    @apply scale-100 transition-transform duration-300 sm:scale-90 xs:scale-75;
}

/*! purgecss end ignore */
