@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/*
! tailwindcss v3.0.23 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

/*
Add the correct font size in all browsers.
*/

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

/*
Removes the default spacing and border for appropriate elements.
*/


h1,
h2,
h3,
h4,
p {
  margin: 0;
}


ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

/*
Set the default cursor for buttons.
*/

button {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.bottom-0{
  bottom: 0px;
}
.left-1\/2{
  left: 50%;
}
.-left-28{
  left: -7rem;
}
.top-\[20\%\]{
  top: 20%;
}
.top-0{
  top: 0px;
}
.right-0{
  right: 0px;
}
.left-0{
  left: 0px;
}
.right-7{
  right: 1.75rem;
}
.bottom-7{
  bottom: 1.75rem;
}
.z-10{
  z-index: 10;
}
.z-1{
  z-index: 1;
}
.z-always{
  z-index: 9999;
}
.m-2{
  margin: 0.5rem;
}
.m-auto{
  margin: auto;
}
.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-20{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mb-14{
  margin-bottom: 3.5rem;
}
.mt-24{
  margin-top: 6rem;
}
.mb-24{
  margin-bottom: 6rem;
}
.mr-3{
  margin-right: 0.75rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.mb-4{
  margin-bottom: 1rem;
}
.ml-3{
  margin-left: 0.75rem;
}
.mt-7{
  margin-top: 1.75rem;
}
.mb-6{
  margin-bottom: 1.5rem;
}
.mb-12{
  margin-bottom: 3rem;
}
.mt-20{
  margin-top: 5rem;
}
.mb-20{
  margin-bottom: 5rem;
}
.mt-12{
  margin-top: 3rem;
}
.mb-3{
  margin-bottom: 0.75rem;
}
.mb-7{
  margin-bottom: 1.75rem;
}
.mt-4{
  margin-top: 1rem;
}
.mt-9{
  margin-top: 2.25rem;
}
.box-border{
  box-sizing: border-box;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.flex{
  display: flex;
}
.hidden{
  display: none;
}
.aspect-square{
  aspect-ratio: 1 / 1;
}
.h-fit{
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.h-14{
  height: 3.5rem;
}
.h-full{
  height: 100%;
}
.h-\[0\.15rem\]{
  height: 0.15rem;
}
.h-screen{
  height: 100vh;
}
.max-h-full{
  max-height: 100%;
}
.min-h-screen{
  min-height: 100vh;
}
.w-\[88px\]{
  width: 88px;
}
.w-full{
  width: 100%;
}
.w-\[80vw\]{
  width: 80vw;
}
.w-14{
  width: 3.5rem;
}
.w-\[91px\]{
  width: 91px;
}
.w-7{
  width: 1.75rem;
}
.max-w-md{
  max-width: 28rem;
}
.max-w-\[401px\]{
  max-width: 401px;
}
.max-w-\[220px\]{
  max-width: 220px;
}
.max-w-\[780px\]{
  max-width: 780px;
}
.max-w-xl{
  max-width: 36rem;
}
.max-w-lg{
  max-width: 32rem;
}
.max-w-sm{
  max-width: 24rem;
}
.max-w-\[150px\]{
  max-width: 150px;
}
.max-w-none{
  max-width: none;
}
.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-3{
  --tw-translate-y: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-0{
  --tw-translate-y: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-2{
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-0{
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-full{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-0{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-rotate-45{
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@-webkit-keyframes bounce-short{

  0%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50%{
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  75%{
    transform: translateY(-15%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  100%{
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce-short{

  0%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50%{
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  75%{
    transform: translateY(-15%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  100%{
    transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-short{
  -webkit-animation: bounce-short 1s 1;
          animation: bounce-short 1s 1;
}
.cursor-pointer{
  cursor: pointer;
}
.list-none{
  list-style-type: none;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-start{
  align-items: flex-start;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.gap-12{
  gap: 3rem;
}
.gap-20{
  gap: 5rem;
}
.gap-24{
  gap: 6rem;
}
.gap-\[330px\]{
  gap: 330px;
}
.gap-8{
  gap: 2rem;
}
.gap-5{
  gap: 1.25rem;
}
.gap-10{
  gap: 2.5rem;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-visible{
  overflow: visible;
}
.rounded-full{
  border-radius: 9999px;
}
.border-4{
  border-width: 4px;
}
.border-b-2{
  border-bottom-width: 2px;
}
.border-t-2{
  border-top-width: 2px;
}
.border-dotted{
  border-style: dotted;
}
.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-transparent{
  border-color: transparent;
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-\[\#111111\]{
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 17 / var(--tw-bg-opacity));
}
.bg-light-blue{
  --tw-bg-opacity: 1;
  background-color: rgb(15 139 203 / var(--tw-bg-opacity));
}
.bg-about-background{
  background-image: url('../images/backgrounds/about-background.png');
}
.bg-blog-background{
  background-image: url('../images/backgrounds/blog-background.png');
}
.bg-home-background{
  background-image: url('../images/backgrounds/hero-background.png');
}
.bg-products-background{
  background-image: url('../images/backgrounds/products-background.png');
}
.bg-routes-background{
  background-image: url('../images/backgrounds/routes-background.png');
}
.bg-cover{
  background-size: cover;
}
.bg-fixed{
  background-attachment: fixed;
}
.bg-top{
  background-position: top;
}
.bg-left{
  background-position: left;
}
.bg-center{
  background-position: center;
}
.bg-no-repeat{
  background-repeat: no-repeat;
}
.p-3{
  padding: 0.75rem;
}
.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-14{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.pb-7{
  padding-bottom: 1.75rem;
}
.pt-12{
  padding-top: 3rem;
}
.pt-2{
  padding-top: 0.5rem;
}
.pb-1{
  padding-bottom: 0.25rem;
}
.pt-3{
  padding-top: 0.75rem;
}
.pt-24{
  padding-top: 6rem;
}
.pt-16{
  padding-top: 4rem;
}
.text-center{
  text-align: center;
}
.font-geomanist{
  font-family: Geomanist;
}
.font-roboto{
  font-family: 'Roboto Condensed';
}
.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-7xl{
  font-size: 4.5rem;
  line-height: 1;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.font-bold{
  font-weight: 700;
}
.font-normal{
  font-weight: 400;
}
.uppercase{
  text-transform: uppercase;
}
.leading-tight{
  line-height: 1.25;
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-light-blue{
  --tw-text-opacity: 1;
  color: rgb(15 139 203 / var(--tw-text-opacity));
}
.text-dark-blue{
  --tw-text-opacity: 1;
  color: rgb(8 77 117 / var(--tw-text-opacity));
}
.text-dark{
  --tw-text-opacity: 1;
  color: rgb(4 47 75 / var(--tw-text-opacity));
}
.opacity-0{
  opacity: 0;
}
.opacity-100{
  opacity: 1;
}
.shadow-2xl{
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors{
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.delay-150{
  transition-delay: 150ms;
}
.duration-300{
  transition-duration: 300ms;
}
.text-shadow {
        text-shadow: 0px 0px 4px black;
    }
.text-shadow-dblue {
        text-shadow: 1px 1px 1px #084D75;
    }
.text-shadow-white {
        text-shadow: 0 0 10px white;
    }

@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/Geomanist-BlackItalic.woff2') format('woff2'),
    url('../fonts/Geomanist-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

.header-background{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 1.25rem;
}

.header-background::before{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  content: var(--tw-content);
  --tw-skew-x: -12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.gradient-blue::before{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: rgba(15,139,203,1);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(15 139 203 / 0));
  content: var(--tw-content);
  --tw-gradient-to: rgba(15,139,203,0.65);
}

.gradient-white::before{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: rgba(255,255,255,1);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(255 255 255 / 0));
  content: var(--tw-content);
  --tw-gradient-to: rgba(255,255,254,0.65);
}

.swiper{
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.swiper-slide{
  display: flex;
  justify-content: center;
}
.swiper-slide.swiper-slide-active div{
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.s2 .swiper-slide img{
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (max-width: 430px){

  .s2 .swiper-slide img{
    --tw-scale-x: .5;
    --tw-scale-y: .5;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.s2 .swiper-slide-active img{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media (max-width: 560px){

  .s2 .swiper-slide-active img{
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

@media (max-width: 430px){

  .s2 .swiper-slide-active img{
    --tw-scale-x: .75;
    --tw-scale-y: .75;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}

.before\:left-0::before{
  content: var(--tw-content);
  left: 0px;
}

.before\:-z-1::before{
  content: var(--tw-content);
  z-index: -1;
}

.before\:h-full::before{
  content: var(--tw-content);
  height: 100%;
}

.before\:w-full::before{
  content: var(--tw-content);
  width: 100%;
}

.before\:-skew-x-12::before{
  content: var(--tw-content);
  --tw-skew-x: -12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:-skew-x-10::before{
  content: var(--tw-content);
  --tw-skew-x: -10deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-dark:hover{
  --tw-text-opacity: 1;
  color: rgb(4 47 75 / var(--tw-text-opacity));
}

@media (max-width: 1279px){

  .xl\:w-\[70vw\]{
    width: 70vw;
  }
}

@media (max-width: 1024px){

  .lg\:right-5{
    right: 1.25rem;
  }

  .lg\:bottom-5{
    bottom: 1.25rem;
  }

  .lg\:bottom-0{
    bottom: 0px;
  }

  .lg\:left-0{
    left: 0px;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:w-28{
    width: 7rem;
  }

  .lg\:w-24{
    width: 6rem;
  }

  .lg\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 815px){

  .md\:static{
    position: static;
  }

  .md\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .md\:my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .md\:mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .md\:mb-2{
    margin-bottom: 0.5rem;
  }

  .md\:mb-10{
    margin-bottom: 2.5rem;
  }

  .md\:flex{
    display: flex;
  }

  .md\:hidden{
    display: none;
  }

  .md\:w-full{
    width: 100%;
  }

  .md\:max-w-\[415px\]{
    max-width: 415px;
  }

  .md\:max-w-none{
    max-width: none;
  }

  .md\:max-w-sm{
    max-width: 24rem;
  }

  .md\:flex-col{
    flex-direction: column;
  }

  .md\:flex-wrap{
    flex-wrap: wrap;
  }

  .md\:items-center{
    align-items: center;
  }

  .md\:justify-start{
    justify-content: flex-start;
  }

  .md\:justify-center{
    justify-content: center;
  }

  .md\:gap-16{
    gap: 4rem;
  }

  .md\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:pb-12{
    padding-bottom: 3rem;
  }

  .md\:pt-3{
    padding-top: 0.75rem;
  }

  .md\:text-center{
    text-align: center;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (max-width: 560px){

  .sm\:mb-0{
    margin-bottom: 0px;
  }

  .sm\:h-9{
    height: 2.25rem;
  }

  .sm\:w-9{
    width: 2.25rem;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-2{
    padding-top: 0.5rem;
  }

  .sm\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 430px){

  .xs\:w-44{
    width: 11rem;
  }

  .xs\:w-\[56px\]{
    width: 56px;
  }

  .xs\:gap-52{
    gap: 13rem;
  }

  .xs\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xs\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xs\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
}

@media (orientation: landscape) and (max-height: 815px){

  .landscape-md\:gap-0{
    gap: 0px;
  }
}

@media (orientation: landscape) and (max-height: 560px){

  .landscape-sm\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
