<!DOCTYPE html>
<html lang="pl">
<head>
    {% block head %}
        <title>Decathlon</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="{{ page.url(true, true)|e }}"/>
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://compiled-css/main.css') %}
        {% do assets.addCss('https://unpkg.com/swiper@8/swiper-bundle.min.css') %}
    {% endblock stylesheets %}

    {% block javascripts %}
        {% do assets.addJs('theme://js/alpine.min.js', {loading:'defer'}) %}
        {% do assets.addJs('theme://js/swiper-bundle.min.js') %}
        {% do assets.addJs('theme://js/main.js', {group: 'bottom'}) %}
    {% endblock javascripts %}

    {% block assets %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock assets %}
</head>

<body x-data="{ open: false }" x-bind:class="open ? 'overflow-hidden' : 'overflow-visible'">

{% block header %}
    <header class="absolute z-always flex w-full justify-center md:justify-start">
        <img
                class="h-full xs:w-44"
                src="{{ url('theme://images/logo.svg')|e }}"
                alt="decathlon"
        />
        {% include 'partials/navigation.html.twig' %}
    </header>
{% endblock header %}

{% block body %}
    <main>
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' with {'page': page.find('/footer', true)} %}
{% endblock footer %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>