<footer class="bg-[#111111] py-16 lg:py-8">
    <div class="flex justify-center gap-10">
        {% for item in page.header.icons %}
            <a href="{{ item.url }}">
                <img src="{{ url('theme://images/socials/' ~ item.icon) }}"
                     alt="{{ item.icon|replace({'.svg': ''}) }}"/>
            </a>
        {% endfor %}
    </div>

    <p class="font-roboto text-xs text-white text-center mt-9">
        Copyright © 2019 by DECATHLON Polska. All rights reserved. Privacy
        policy
    </p>
</footer>