<!--suppress ALL -->
<button
        x-on:click="open = ! open"
        class="menu-button fixed top-0 right-0 z-10 aspect-square max-h-full w-[91px] cursor-pointer bg-light-blue xs:w-[56px]"
>
    <div class="m-auto space-y-2">
          <span
                  x-bind:class="open ? 'rotate-45 translate-y-3' : '-translate-y-0'"
                  class="mx-auto block h-[0.15rem] w-7 bg-white transition-transform delay-150"
          ></span>
        <span
                x-bind:class="open ? 'opacity-0' : 'opacity-100'"
                class="mx-auto block h-[0.15rem] w-7 bg-white transition-opacity delay-150"
        ></span>
        <span
                x-bind:class="open ? '-rotate-45 -translate-y-2' : 'translate-y-0'"
                class="mx-auto block h-[0.15rem] w-7 bg-white transition-transform delay-150"
        ></span>
        <span class="sr-only">Menu</span>
    </div>
</button>

<nav
        x-bind:class="!open ? 'translate-x-full' : 'translate-x-0'"
        class="menu duration-50 fixed flex h-screen w-full translate-x-full items-center justify-center bg-light-blue transition-all"
>
    <ul class="mx-4 flex list-none flex-col gap-5 landscape-md:gap-0">
        {% for module in page.collection.modular() %}
            <li x-on:click="open = ! open"
                class="font-geomanist text-7xl uppercase text-white transition-colors duration-300 hover:text-dark
                md:text-5xl sm:text-2xl landscape-sm:text-4xl">
                <a href="#{{ module.header.anchor }}">{{ module.menu }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
